* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    z-index: 2;
}

body {
    background: linear-gradient(100deg, #310e0e, #000000);
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 20px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 40px;
    padding-top: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    position: relative;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #fff;
    left: 0;
    bottom: -5px;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.logo {
    width: 70%;
    height: auto;
    object-fit: contain;
}

.social-media {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    border: 2px solid #363636;
    gap: 15px;
    border-radius: 20px;
    margin: 20px auto;
    text-align: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.social-media a {
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    overflow: hidden;
}

.social-media a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: scale(1.1);
}

.social-media a img.roblox-icon {
    width: 60%;
    height: 60%;
    object-fit: contain;
}


footer {
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
    color: #ccc;
}

@media (max-width: 750px) {
    .logo {
        width: 280px;
    }

    nav ul {
        gap: 15px;
    }

    nav ul li a {
        font-size: 14px;
    }

    .social-media a {
        font-size: 22px;
        width: 40px;
        height: 40px;
    }
}
